language: node_js
os:
  - osx
node_js:
  - 4
  - 5
  - 6
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - pkg-config
    - build-essential
    - libusb-1.0-0-dev
    - libudev-dev

before_install:
  - npm install -g grunt-cli

install: npm install
script: grunt test

after_success:
  - npm run coveralls
