language: node_js
node_js:
  - "4.2.1"
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - pkg-config
    - build-essential
    - libusb-1.0-0-dev
    - libudev-dev

before_install:
  - npm install -g npm@3
  - npm install -g grunt-cli

install: npm install
script: grunt
