# This file is a special npm configuration file.
#
# From npm docs:
#
#   The --global-style argument will cause
#   npm to install the package into your
#   local node_modules folder with the same
#   layout it uses with the global node_modules
#   folder. Only your direct dependencies
#   will show in node_modules and everything
#   they depend on will be flattened in their
#   node_modules folders. This obviously will
#   eliminate some deduping.
#
# t2-cli gives third party modules control over what
# files and dependencies get deployed to a Tessel 2
# by supporting .tesselignore and .tesselinclude files.
# Ever since npm 3, dependency flattening has taken that
# control away, since the rules in those files are
# resolved relative to the third party module itself.
# Forcing Tessel 2 project dependencies to install as
# described above restores that control, ideally
# producing smaller project bundles.

global-style = true
